// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  padding: 0 16px;
  width: 100%;
}

.logout {
  margin-top: 2em;
}
